.next-travels__title {
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: @darkest-blue;
}

.next-travels__inner-lists {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.next-travels__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.next-travels__item {
  margin-bottom: 10px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: @darkest-blue;
  opacity: 0.5;
}

@media (max-width: @tablet-width - 1) {
  .next-travels__inner-lists {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .next-travels__list {
    &:nth-of-type(1) {
      margin-right: 92px;
      margin-bottom: 12px;
    }
  }
}
