.tabs-header {
  width: 900px;
}

.tabs-header__list {
  width: 120%;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 15px;
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 90%;
    height: 2px;
    background-color: @dark-blue;
    opacity: 0.3;
  }
}

.tabs-header__item {
  //margin-right: 8.47%;
  display: flex;


  &:last-of-type {
    margin-right: 0;
    justify-self:center;
  }
}

.tabs-header__tab {
  padding: 0;
  outline: none;
  background: none;
  border: none;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.415px;
  color: @dark-blue;
  opacity: 0.3;

  &:hover,
  &:focus {
    color: @ginger;
    opacity: 1;
    transition: 0.2s;
  }

  &--active {
    color: @ginger;
    opacity: 1;
  }
}

@media (max-width: @tablet-breakpoint) {
  .tabs-header {
    width: 100%;
    height: 40px;
    overflow: hidden;
    position: relative;
  }

  .tabs-header__list {
    padding-left: 20px;
    padding-right: 20px;
    overflow: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 900px;

    &::after {
      width: 110%;
    }
  }
}

@media (max-width: @tablet-width - 1) {
  .tabs-header__list {
    padding-left: 16px;
    padding-right: 16px;

    &::after {
      width: 240%;
    }
  }

  .tabs-header__item {
    margin-right: 20px;
  }
}
