.container(mobile-min-width) {
  width: @mobile-width;
  padding: 0 16px;
  margin: 0 auto;
}

.container(mobile-width) {
  width: calc( (100vw / @mobile-width) * 100);
  padding: 0 5%;
  margin: 0 auto;
}

.container(tablet-width) {
  width: calc( (100vw / @tablet-width) * 100) ;
  padding: 0 2.734375%;
  margin: 0 auto;
}

.container(desktop-width) {
  width: calc( (100vw / @desktop-width) * 100);
  padding: 0 19.53125%;
  margin: 0 auto;
}
