.container(@mobile-width) {
  width: @mobile-width;
  padding: 0 16px;
  margin: 0 auto;
}

.container(@tablet-width) {
  width: @tablet-width;
  padding: 0 21px;
  margin: 0 auto;
}

.container(@desktop-width) {
  width: @desktop-width;
  padding: 0 375px;
  margin: 0 auto;
}
