//colors
@white: white;
@black: #000000;
@dark-blue: #2C2E3F;
@darkest-blue: #141517;
@grey-light: #FBF8F8;
@grey-dark: rgba(44, 46, 63, 0.7);
@ginger: #FE7865;
@orange: #F17D4B;
@blue: #4c7a9c;

//scaling
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1920px;
@tablet-breakpoint: 1023px;
