//colors
@white: white;
@white-darken: rgba(255, 255, 255, 0.7);
@black: #000000;
@dark-blue: #2C2E3F;
@darkest-blue: #141517;
@grey-light: #FBF8F8;
@grey-dark: rgba(44, 46, 63, 0.7);
@grey-darken: rgba(20, 21, 23, 0.6);
@ginger: #FE7865;
@orange: #F17D4B;
@blue: #4c7a9c;

//scaling
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1170px;
@tablet-breakpoint: 1023px;
